/* cyrillic */
@font-face {
  font-family: 'ComfortaaLightGoogle';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ComfortaaLightGoogle.eot");
  src: local('Comfortaa Light'), local('Comfortaa-Light'), url("../fonts/ComfortaaLightGoogle.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaLightGoogle.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'ComfortaaLightGoogle';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ComfortaaLightGooglelatin.eot");
  src: local('Comfortaa Light'), local('Comfortaa-Light'), url("../fonts/ComfortaaLightGooglelatin.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaLightGooglelatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: 'ComfortaaRegularGoogle';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ComfortaaRegularGoogle.eot");
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url("../fonts/ComfortaaRegularGoogle.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaRegularGoogle.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'ComfortaaRegularGoogle';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ComfortaaRegularGooglelatin.eot");
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url("../fonts/ComfortaaRegularGooglelatin.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaRegularGooglelatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: 'ComfortaaBoldGoogle';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ComfortaaBoldGoogle.eot");
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url("../fonts/ComfortaaBoldGoogle.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaBoldGoogle.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'ComfortaaBoldGoogle';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ComfortaaBoldGooglelatin.eot");
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url("../fonts/ComfortaaBoldGooglelatin.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaBoldGooglelatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
